:root {
  --font-family: 'Inter', sans-serif;
  --font-bold: 700;
  --body: 1.5rem;   /* 24px */
  --h5: 2rem;       /* 32px */
  --h4: 2.5rem;     /* 40px */
  --h3: 3rem;       /* 48px */
  --h2: 8rem;       /* 128px */
  --h1: 10rem;      /* 160px */
  --white: #ffffff;
  --grey: #141414;
  --red-button: #9A0003; 
  --red-dark: #C74C4F;
  --green: #66D575;
}

* {
  margin: 0;
  padding: 0;
}

#mainvideo{
    margin-top: -1.8%;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
}

body {
  font-family: var(--font-family);
  font-style: normal;
}